<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mini Youtube</title>
	<link rel="stylesheet" href="css/header.css">
	<link rel="stylesheet" href="css/error.css">
	<script src="https://kit.fontawesome.com/9f04fd84f4.js" crossorigin="anonymous"></script>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div id="contenedor">
		<p>500</p>
		<p>Error interno en el servidor :(</p>
	</div>
</body>
</html>