<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mini Youtube</title>
	<link rel="stylesheet" href="css/header.css">
	<link rel="stylesheet" href="css/index.css">
	<script src="https://kit.fontawesome.com/9f04fd84f4.js" crossorigin="anonymous"></script>
	<!--<script src="js/index.js"></script>-->
</head>
<body>
 	<div th:replace="fragments/header :: header"></div>
		
	<div id="contenedor">
		<article th:each="video : ${listaVideos}">
			<img th:src="${video.video}"></img>
			<div>
				<p class="titulo" th:text="${video.titulo}"></p>
				<p class="canal" th:text="${video.usuario.username}"></p>
			</div>
		</article>
	</div>
</body>
</html>